﻿@model IEnumerable<CGMAPurchases.Models.SearchResultViewModel>
@{
    ViewBag.Title = "Index";
}


@section scripts{
    <script src="~/JavaScript/app.js"></script>
    <script src="~/JavaScript/ui-bootstrap-tpls-2.5.0.js"></script>
} 

<h2>Index</h2> 

<div ng-app="EmailPurchases" ng-controller="EmailController">
    <div style="height: 50px;">
        <input type="text" ng-model="SearchValue" />
        <select ng-model="form.type" required ng-options='option.value as option.name for option in typeOptions'> 
        </select>
        <input type="button" value="Submit" ng-click="ButtonClick()" />
    </div>
    <div>
        <table class="table">
            <tr>
                @*
                    <th>
                        #
                    </th>
                    <th>
                        Purchase ID
                    </th>
                    <th>
                        TransactionID
                    </th>   
                    <th>
                        ProductPurchaseId
                    </th>
                    *@
                <th>
                    CIMA ID
                </th>
                <th>
                    Transactoin Ref
                </th>
             
                <th>
                    ProductPurchaseName
                </th>
                <th>
                    ProductPurchaseType
                </th>
                <th>
                    EmailAddress
                </th>
                <th>
                    TransactionState
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Updated
                </th>
            </tr>

            <tr ng-repeat="r in purchaseResults | startFrom: (CurrentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                @*<td>
                    {{$index + 1}}
                </td>
                <td>
                    {{r.PurchaseId}}
                </td>
                <td>
                    {{r.TransactionID}}
                </td>
                <td>
                    {{r.ProductPurchaseId}}
                </td>*@
                <td>
                    {{r.CIMAContactId}}
                </td>
                <td>
                    {{r.TransactionRef}}
                </td>
                <td>
                    {{r.ProductPurchaseName}}
                </td>
                <td>
                    {{r.ProductPurchaseType}}
                </td>
                <td>
                    {{r.EmailAddress}}
                </td>
                <td>
                    {{r.TransactionState}}
                </td>
                <td>
                    {{r.DateCreated | dateFormat |  date:"yyyy-MM-dd HH:mm"}}
                </td>
                <td>
                    {{r.DateUpdated | dateFormat |  date:"yyyy-MM-dd HH:mm"}}
                </td>
            </tr>
        </table>
        <ul uib-pagination total-items="purchaseResults.length" ng-model="CurrentPage" max-size="5" class="pagination-sm" boundary-link-numbers="true"></ul>
                    
    </div>
    

</div>


@* 
    Filter Project Purchase Type || all fields
    Exporting data



    ###Anna Boyce = Russian Diploma
    ###Sam Watson = Islamic Finance 
 *@


