﻿@model CGMAPurchases.Models.LoginModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p>
        <button type="submit">Log In</button>
    </p>
}